body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#root {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.app {
    padding: 10px;
}

.code-source {
    min-height: 500px;
    min-width: 900px;
    border: 1px solid rgb(47, 63, 94);
    border-radius: 5px;
}

.code-source-files {
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
    min-height: 100%;
    min-width: 100%;
}

.code-source-file-name {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    color: rgb(75, 75, 75);
}

.code-source-files-description {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 100px;
}

.code-source-text {
    min-height: 500px;
    min-width: 900px;
    margin: 0;
    white-space: pre;
    padding: 10px;
    box-sizing: border-box;
}

.code-name {
    display: inline;
}

.code-name-description {
    display: inline;
}

.input-wrong {
    border: 2px solid red;
}

.code-source-wrong {
    border: 2px solid red;
}

.code-list {
    width: 100%;
}

.code-list-item {
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(59deg, rgba(32,43,56,1) 0%, rgba(65,65,115,1) 49%, rgba(59,42,62,1) 100%);
    margin: 10px 0;
    border-radius: 5px;
    outline: 1px solid transparent;
    transition: .2s ease-in-out;
}

.code-list-item:hover {
    outline: 1px solid rgb(180, 27, 155);
}

.code-list-item .code-name {
    font-size: 20px;
    font-weight: bold;
}

.code-list-item .code-created:before {
    content: 'Created: ';
}

.code-list-item .code-edited:before {
    content: 'Edited: ';
}

.code-list-item .code-created,
.code-list-item .code-edited {
    padding: 2px;
}
