body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#root {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.app {
    padding: 10px;
}

.code-source {
    min-height: 500px;
    min-width: 900px;
    border: 1px solid rgb(47, 63, 94);
    border-radius: 5px;
}

.code-source-files {
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
    min-height: 100%;
    min-width: 100%;
}

.code-source-file-name {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    color: rgb(75, 75, 75);
}

.code-source-files-description {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    margin-top: 100px;
}

.code-source-text {
    min-height: 500px;
    min-width: 900px;
    margin: 0;
    //padding: 10px;
    //box-sizing: border-box;
}

.code-name {
    display: inline;
}

.code-name-description {
    display: inline;
}

.input-wrong {
    border: 2px solid red;
}

.code-source-wrong {
    border: 2px solid red;
}

.code-list {
    width: 100%;
}

.code-list-item {
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(59deg, rgba(32,43,56,1) 0%, rgba(65,65,115,1) 49%, rgba(59,42,62,1) 100%);
    margin: 10px 0;
    border-radius: 5px;
    outline: 1px solid transparent;
    transition: .2s ease-in-out;
}

.code-list-item:hover {
    outline: 1px solid rgb(180, 27, 155);
}

.code-list-item .code-name {
    font-size: 20px;
    font-weight: bold;
}

.code-created:before {
    content: 'Created: ';
}

.code-edited:before {
    content: 'Edited: ';
}

.code-created,
.code-edited {
    padding: 2px;
}


.popups {
    z-index: 1;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: rgba(82, 82, 82, 0.575);
}

.popups.has-popup {
    display: block;
}

.login-popup {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.616);
    border-radius: 10px;
}

.login-popup {
    .switch-login-register {
        width: 100%;
        background: rgb(34, 132, 197);
        margin-bottom: 10px;
    }

    .switch-login-register:hover {
        background: rgb(18, 63, 83);
    }

    .login-button,
    .register-button {
        margin: 0;
        width: 100%;
    }

    input {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        display: block;
        box-sizing: border-box;
    }
}

.user-bar {
    display: flex;

    .login {
        flex: 1 0 auto;
    }
}